.title{

    font-size: 30px;
    color: #394f63;
    font-weight: 750;
    margin-left: 23px;
}

.container {
	
    padding-top: 20px;
    
}

.form-label-color {
	color: #445159;
    font-size: 12px !important;
    font-weight: 600;
}

.form-seperator {
	color: #b1b9bd;
	font-weight: 700;
    font-size: 10px;
    margin-bottom: -5px;
    padding-top: 20px;
    //position: relative;
    margin-left: 15px;
    //margin-left: 3%;
    //padding-left: 19px;
    margin-top: 15px;
}

#ladd { margin-left: 22px; }
#hlineadd { margin-left: 22px; }

#lpd { margin-left: 0px; }
#hlinepd { margin-left: 0px; }
    
@media (max-width: 767px) {
    #ladd { margin-left: -14px; }
    #hlineadd { margin-left: -14px; }
    #lpd { margin-left: -14px; }
	#hlinepd { margin-left: -14px; }
}

@media (max-width: 480px) {
    #ladd { margin-left: -16px; }
    #hlineadd { margin-left: -16px; }
    #lpd { margin-left: -16px; }
	#hlinepd { margin-left: -16px; }
}

.form-seperator-text {
	margin-bottom: -14px;
}

.button-group-padding {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 15px;
	
}

.button-group {
	display: flex;
	padding-top: 20px;
}

.button-grey {
	background-color: #758e9d;
	border-color: #758e9d;
}

.button-blue {
	background-color: #3fa9e2;
	border-color: #3fa9e2;
}
